<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
    <div class="form-add-new">
        <fieldset>
            <legend> Form Add new users</legend>
       
        <div class="input-group">
            <label> Email: </label>
            <input type="text" />
        </div>
        <div class="input-group">
            <label> Name: </label>
            <input type="text" />
        </div>
        <div class="input-group">
            <label> City: </label>
            <input type="text" />
        </div>
        <div class="button-save">
            <button> Save</button>
        </div>
    </fieldset>
    </div>
</body>
</html>


